# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

    - Master the most up-to-date practical skills and tools that data analysts use in their daily roles
    - Develop working knowledge of Python language for analyzing data using Python libraries like Pandas and Numpy, and invoke APIs and Web Services 
    - Learn how to visualize data and present findings using various charts in Excel spreadsheets and BI tools like IBM Cognos Analytics & Tableau
    - Gain technical experience through hands on labs and projects and build a portfolio to showcase your work

# Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. Scala

# Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. Matplotlib

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Thiago Rocha Esperidi√£o Silva